@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-container {
    @apply container mx-auto;
  }

  .slider-container {
    overflow: hidden;
  }

  .slider {
    display: flex;
    animation: slide-left 10s linear infinite;
  }

  .slide {
    width: 100%;
  }

  @keyframes slide-left {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-100%);
    }
  }
  .layout-spacing {
    @apply px-5 sm:px-10;
  }

  .no-scroll-bar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scroll-bar::-webkit-thumb {
    @apply hidden;
  }

  .custom-scroll-bar::-webkit-scrollbar {
    @apply w-2 h-2 rounded-full bg-gray-300;
  }

  .custom-scroll-bar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-400;
  }

  .dropdown-scroll-bar::-webkit-scrollbar {
    @apply w-[5px] h-2 rounded-full bg-[transparent];
  }

  .dropdown-scroll-bar::-webkit-scrollbar-track {
    @apply my-1;
  }

  .dropdown-scroll-bar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-400;
  }
}